{% include 'header.twig' %}

<div class="class" align="center">
<p><a href="{{ app.request.baseUrl ~ '/add' }}" class="btn"><b class="icon-pencil"></b> Sign In</a></p>

<p><a href="{{ app.request.baseUrl ~ '/view' }}" class="btn"><b class="icon-pencil"></b> See Attendance</a></p></div>

{% include 'footer.twig' %}
